<!--action: we want to post on the home page -->
<form action="/" method="post" enctype="multipart/form-data">
    <h1>Upload Photo</h1>
    <input type="file" name="sampleFile" accept="image/*" />
    <input type="submit" class="btn btn-primary">
</form>

<!--card to display data in -->
<div class="card">
    <!--set up default image -->

    <img class="card__image" src="/img/default.jpg" alt="User Profile">
    <h1 class="card__title">Esra</h1>
    <div class="card__job">Web Developer</div>
    <p class="card__about">
        I am a Math and Science teacher looking for a career switch upon encountering my passion for creating things and
        having the ability to share what I make with others!
    </p>
    <button type="button" class="btn btn-primary">View Profile</button>
</div>